@import "../../DeckList/CreateDeckMenu/CreateDeckMenu.module.scss";
@import "./CardToEdit.module.scss";

.background {
  @include darkenedBackground();
}

.menu {
  border-radius: 30px;
  height: 90%;
  margin: 30px 0;
  background-color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}

.name {
  color: black;
  margin-left: 70px;
}

.close {
  margin-right: 30px;
}

.line {
  width: 100%;
  border: 1px solid gray;
}

.container {
  overflow-y: scroll;
  width: 100%;
  height: 92%;
}

.list {
  width: 100%;
  display: flex;
  padding: 25px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.element {
  width: 30%;
  height: 28vh;
  margin: 20px;
}

.add {
  width: 100%;
  height: 100%;
  background-color: burlywood;
  border-radius: $card-radius;
}
