{
  "extends":[
    "airbnb-base",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/unicorn"
  ],
    "plugins": [
      "prettier",
      "unicorn"
    ],
    "env": {
      "es6": true
    }
  }